* {

 padding: 0%;
 margin: 0%;
 box-sizing: border-box;

}
body {

height: 2700px;
 background: linear-gradient(135deg, rgb(8, 9, 9), #0768e6, #1a1a1b ); 
   overflow-x: hidden;
  
}

@font-face {
    font-family: "akira";
    src: url(../fontes/akira/Akira\ Expanded\ Demo.otf) format(truetype);
}

@font-face {
    font-family: "designer";
    src: url(../fontes/designer_2/Designer.otf) format(truetype);
}

@font-face {
    font-family: "unageo";
    src: url(../fontes/unageo/ttf/Unageo-Black.ttf) format(truetype)
}

@font-face {
  font-family: "creato";
  src: url(../fontes/creato_display/CreatoDisplay-Black.otf) format(truetype);
}



.erickperfil {

  position: absolute;
  right: 6%;
  top: 28%;

}

.erickperfil img {

  width: 300px;         
  height: 300px;        
  border-radius: 50%; 
  object-fit: cover;    
  border: 8px solid rgb(255, 255, 255);
}

.erickneres {
position: absolute;
top: 70%;
right: 4%;
font-family: "akira";
font-size: 40px;
}

.erickfundo {

position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 80vh; 
  background-image: url(../img/erickfundo.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1; 
  object-fit: cover;
  border-radius: 2%;
}


.img1 img {

width: 500px;
height: 400px;
border-radius: 5%;

}

.img2 img {

width: 500px;
height: 400px;
border-radius: 5%;

}

.img3 img {

width: 500px;
height: 400px;
border-radius: 5%;

}

.img1, .img2, .img3 {
  position: absolute;
}

.img1 {
  top: 200%;
  left: 3%;
}
.img2 {
  top: 235%;
  right:8%;
}
.img3 {
  top: 280%;
  left: 3%;
}








.box {

 display: flex;
  flex-direction: row;
  gap: 80px;
  position: absolute;
  top: 90%;
  
}

.boxcidade {
  
  display: flex;
   width: 700px;
   height: 150px;
   background-color: #1a1a1b;
   border-radius: 5%;
   justify-content: center;
   align-items: center;
}

.boxidade {
  
  display: flex;
  margin-left: 2%;
   width: 700px;
   height: 150px;
   background-color: #1a1a1b;
   border-radius: 5%;
   justify-content: center;
  align-items: center;
}



.boxidade p {
  
  color: white;
  font-family: "akira", Arial, Helvetica, sans-serif;
  font-size: 60px;
  
}

.boxcidade p {

   font-family: "akira";
   font-size: 40px;
   color: white;


}

.boxcidade strong {

   color: rgb(47, 108, 213);

}

.boxsobre {
  
  position: absolute;
  background: linear-gradient(135deg, rgb(8, 9, 9), #0768e6, #1a1a1b);
  height: 600px;
  width: 96%;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3%;
}

.boxsobre {

  display: flex; 
  justify-content: center;
  align-items: center;
  

}

.sobre p {
  
  width: 93%;
  font-family: "creato";
  color: white;
  font-size: 40px;
  line-height: 55px;
  padding-left: 2%;
}

.brawler {

 position: relative;
 top: 100%;

}

.brawler img {

  width: 100%;

}

.erickbrawl {

 position: relative;
 top: 74%;
 left: 13%;

}

.erickbrawl img {

 width: 500px;
 height: 500px;

}

.stats {

display: flex;
position: relative;
top: 70%;
justify-content: end;
align-items: end;
flex-direction: column;
right: 30%;
}

.stats p {
  color: white;
  font-family: "unageo";
  font-size: 44px;
}

.brawlererick {

position: relative;
right: 37%;
left: 63%;
top: 54%;
transform: translateX(+37%, -63%);

}

.brawlererick p {
  color: white;
  font-family: "akira";
  font-size: 50px;
}
